<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.employee.mapper.EmployeeMapper">
	<select id="getList" resultType="EmployeeVO">
		SELECT 	EMPLOYEE_ID,
				FIRST_NAME,
				LAST_NAME,
				EMAIL,
				PHONE_NUMBER,
				HIRE_DATE,
				JOB_ID,
				SALARY,
				COMMISSION_PCT,
				MANAGER_ID,
				DEPARTMENT_ID
		FROM 	EMPLOYEES
		ORDER BY 	EMPLOYEE_ID
	</select>
	
	<select id="read" parameterType="EmployeeVO" resultType="EmployeeVO">
		SELECT 	EMPLOYEE_ID,
				FIRST_NAME,
				LAST_NAME,
				EMAIL,
				PHONE_NUMBER,
				HIRE_DATE,
				JOB_ID,
				SALARY,
				COMMISSION_PCT,
				MANAGER_ID,
				DEPARTMENT_ID
		FROM 	EMPLOYEES
		WHERE 	EMPLOYEE_ID = #{employeeId}
	</select>
	
	<select id="findManagers" resultType="EmployeeVO">
		SELECT DISTINCT M.*
		FROM EMPLOYEES E JOIN EMPLOYEES M
		ON (E.MANAGER_ID = M.EMPLOYEE_ID)
		ORDER BY M.EMPLOYEE_ID
	</select>
	
	<select id="checkEmail" resultType="EmployeeVO">
		SELECT * FROM EMPLOYEE
		WHERE EAMIL = #{email}
	</select>
	
	<insert id="create" parameterType="EmployeeVO">
		<selectKey keyProperty="employeeId" resultType="string" order="BEFORE">
			SELECT EMPLOYEES_SEQ.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO EMPLOYEES(
			EMPLOYEE_ID,
			FIRST_NAME,
			LAST_NAME,
			EMAIL,
			PHONE_NUMBER,
			HIRE_DATE,
			JOB_ID,
			SALARY,
			COMMISSION_PCT,
			MANAGER_ID,
			DEPARTMENT_ID
		) VALUES (
			#{employeeId},
			#{firstName},
			#{lastName},
			#{email},
			#{phoneNumber},
			SYSDATE,
			#{jobId},
			#{salary},
			#{commissionPct},
			#{managerId},
			#{departmentId}
		)
	</insert>
	
	<update id="update">
		UPDATE EMPLOYEES
		SET
		FIRST_NAME 		= #{firstName},
		LAST_NAME 		= #{lastName},
		EMAIL 			= #{email},
		PHONE_NUMBER 	= #{phoneNumber},
		JOB_ID 			= #{jobId},
		SALARY 			= #{salary},
		COMMISSION_PCT 	= #{commissionPct},
		MANAGER_ID 		= #{managerId},
		DEPARTMENT_ID 	= #{departmentId}
		WHERE 
		EMPLOYEE_ID 	= #{employeeId}
	</update>
	
</mapper>